<h1>{{title}}</h1>

{{{component "about/abouting"}}}
<p>Hi, this is about us</p>

{{#each aboutData}}
  <h3>{{topic}}</h3>
  <p>{{des}}</p>
  <ul>
    {{#each points}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
{{/each}}